html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(24, 24, 24);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.posts > h1 {
  display: block !important;
  font-size: 2em !important;
  margin-top: 0.67em !important;
  margin-bottom: 0.67em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-weight: bold !important;
}

.posts > h2 {
  display: block !important;
  font-size: 1.5em !important;
  margin-top: 0.83em !important;
  margin-bottom: 0.83em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-weight: bold !important;
}

.posts > h3 {
  display: block !important;
  font-size: 1.17em !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-weight: bold !important;
}

.posts > h4 {
  display: block !important;
  font-size: 1em !important;
  margin-top: 1.33em !important;
  margin-bottom: 1.33em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-weight: bold !important;
}

.posts > h5 {
  display: block !important;
  font-size: .83em !important;
  margin-top: 1.67em !important;
  margin-bottom: 1.67em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-weight: bold !important;
}

.posts > h6 {
  display: block !important;
  font-size: .67em !important;
  margin-top: 2.33em !important;
  margin-bottom: 2.33em !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-weight: bold !important;
}